<html>
<head>
    <title>Error</title>
    <link rel="stylesheet" href="static/vanilla-framework-version-3.5.0.min.css" />
</head>
<body>

<div class="row">
    <p>Error in mac address entry: {{ mac_address }}.</p>
    <p>Mac address needs to be in the format XX-XX-XX-XX-XX-XX or XX:XX:XX:XX:XX:XX.</p>
</div>

</body>
</html>