<!DOCTYPE html>
<html lang="en-US">
<head>
    <title>Spook!</title>
    <link rel="stylesheet" href="static/vanilla-framework-version-3.6.1.min.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="apple-touch-icon" sizes="180x180" href="static/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="static/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="static/favicon-16x16.png">
    <link rel="manifest" href="static/site.webmanifest">
</head>
<body>

    <div class="row u-align-text--center">
        <h1>Spook!</h1>
        <h3>Wake up a computer, remotely.</h3>
    </div>
    <div class="p-separator"></div>
    <div class="row">
        <table>
            <tr><th>Mac Address</th><th>Action</th></tr>
            {% for ele in address_list %}
                <tr><td>{{ ele }}</td><td><form action="/send" method="get"><button class="p-button--positive" type="submit" name="mac_address" value="{{ ele }}">Send</button></form></td></tr>
            {% endfor %}
        </table>
    </div>

    <div class="row">
        <table>
            <tr><th>Add new Mac Address</th></tr>
            <tr><td><form action="/add" method="get"><input name="mac_address" required /> <button class="p-button" type="submit">Add</button> </form></td></tr>
        </table>
    </div>

    <div class="row">
        <table>
            <tr><th>Remove a Mac Address</th></tr>
            <tr><td><form action="/delete" method="get"><input name="mac_address" required /> <button class="p-button--negative" type="submit">Remove</button> </form></td></tr>
        </table>
    </div>

    <div class="row">
        <a class="p-button--link" href="/viewLog">View Log</a>
    </div>

</body>
</html>